Flask
Flask-SQLAlchemy # If you are using this for your ORM
psycopg2-binary  # The Python driver for PostgreSQL
werkzeug
fpdf
opencv-python
numpy
scikit-learn
joblib
pandas
python-dotenv # If you use a .flaskenv file
gunicorn
